In [1]:
import pandas as pd
from sqlalchemy import create_engine
# from config import user
# from config import password

In [2]:
squirrel = 'Resources/Data/2018_central_park_squirrel_census.csv'

In [4]:
squirrel_df = pd.read_csv(squirrel)
squirrel_df.head()

,lng,lat,Unique Squirrel ID,Hectare,Shift,date,Hectare Squirrel Number,Age,Primary Fur Color,Highlight Fur Color,...,Kuks,Quaas,Moans,Tail flags,Tail twitches,Approaches,Indifferent,Runs from,Other Interactions,Lat/Long
0,-73.956134,40.794082,37F-PM-1014-03,37F,PM,10/14/2018,3,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9561344937861 40.7940823884086)
1,-73.968857,40.783783,21B-AM-1019-04,21B,AM,10/19/2018,4,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9688574691102 40.7837825208444)
2,-73.974281,40.775534,11B-PM-1014-08,11B,PM,10/14/2018,8,NaN,Gray,NaN,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.97428114848522 40.775533619083)
3,-73.959641,40.790313,32E-PM-1017-14,32E,PM,10/17/2018,14,Adult,Gray,NaN,...,False,False,False,False,False,False,False,True,NaN,POINT (-73.9596413903948 40.7903128889029)
4,-73.970268,40.776213,13E-AM-1017-05,13E,AM,10/17/2018,5,Adult,Gray,Cinnamon,...,False,False,False,False,False,False,False,False,NaN,POINT (-73.9702676472613 40.7762126854894)

In [5]:
squirrel_df_mod = squirrel_df.rename(columns = {"lng":"lng", "lat":"lat", "location":"location","Unique Squirrel ID": "unique_squirrel_id", "Age":"age", "Date": "date", 
                                                "Shift":"shift", "Hectare":"hectare", "Hectare Squirrel Number": "hectare_squirrel_no", 
                                                "Primary Fur Color":"primary_fur_color", "Highlight Fur Color":"highlight_fur_color",
                                                "Combination of Primary and Highlight Color":"combination_colors", "Color notes":"color_notes",
                                                "Approaches":"approaches", "Indifferent":"indifferent", "Runs from": "runs_from",
                                                "Other Interactions":"other_interactions", "Lat/Long": "lat_lng"})
squirrel_df_mod = squirrel_df_mod.drop(columns=["Location", "Above Ground Sighter Measurement", "Specific Location", "Running", "Chasing",
                                               "Climbing", "Eating", "Foraging", "Other Activities", "Kuks", "Quaas", "Moans", "Tail flags",
                                               "Tail twitches"])
squirrel_df_mod.sort_values(by=['unique_squirrel_id'], inplace=True)

squirrel_df_mod.head()

,lng,lat,unique_squirrel_id,hectare,shift,date,hectare_squirrel_no,age,primary_fur_color,highlight_fur_color,combination_colors,color_notes,approaches,indifferent,runs_from,other_interactions,lat_lng
1650,-73.976249,40.775018,10A-AM-1006-01,10A,AM,10/6/2018,1,Adult,Cinnamon,White,Cinnamon+White,NaN,True,False,False,NaN,POINT (-73.9762494239719 40.7750175306716)
1204,-73.976297,40.775113,10A-AM-1006-02,10A,AM,10/6/2018,2,Adult,Gray,White,Gray+White,NaN,False,False,False,NaN,POINT (-73.9762965341309 40.775112516678)
252,-73.976225,40.775164,10A-AM-1006-03,10A,AM,10/6/2018,3,Juvenile,Cinnamon,NaN,Cinnamon+,NaN,False,False,False,NaN,POINT (-73.9762246600197 40.775164077652)
95,-73.976159,40.774721,10A-AM-1006-04,10A,AM,10/6/2018,4,Juvenile,Gray,NaN,Gray+,NaN,False,False,False,NaN,POINT (-73.9761592532482 40.7747213585387)
29,-73.975698,40.775390,10A-PM-1014-01,10A,PM,10/14/2018,1,Adult,Gray,"Black, Cinnamon, White","Gray+Black, Cinnamon, White",Gray & White selected as Primary. Black & Cinn...,False,True,False,NaN,POINT (-73.9756976076707 40.7753897331918)

# Cleaned Location Data (lat/lng, squirrel ID and date)

In [6]:
squirrel_df_loc = squirrel_df_mod[['lat', 'lng', 'unique_squirrel_id', 'date', 'lat_lng']]
squirrel_df_loc.head()

,lat,lng,unique_squirrel_id,date,lat_lng
1650,40.775018,-73.976249,10A-AM-1006-01,10/6/2018,POINT (-73.9762494239719 40.7750175306716)
1204,40.775113,-73.976297,10A-AM-1006-02,10/6/2018,POINT (-73.9762965341309 40.775112516678)
252,40.775164,-73.976225,10A-AM-1006-03,10/6/2018,POINT (-73.9762246600197 40.775164077652)
95,40.774721,-73.976159,10A-AM-1006-04,10/6/2018,POINT (-73.9761592532482 40.7747213585387)
29,40.775390,-73.975698,10A-PM-1014-01,10/14/2018,POINT (-73.9756976076707 40.7753897331918)

# Cleaned Interaction Data (lat/lng, squirrel ID, date and approach types)

In [7]:
squirrel_df_interact = squirrel_df_mod[['lat', 'lng', 'unique_squirrel_id', 'date', 'approaches', 'indifferent', 'runs_from', 'lat_lng']]
squirrel_df_interact.head()

,lat,lng,unique_squirrel_id,date,approaches,indifferent,runs_from,lat_lng
1650,40.775018,-73.976249,10A-AM-1006-01,10/6/2018,True,False,False,POINT (-73.9762494239719 40.7750175306716)
1204,40.775113,-73.976297,10A-AM-1006-02,10/6/2018,False,False,False,POINT (-73.9762965341309 40.775112516678)
252,40.775164,-73.976225,10A-AM-1006-03,10/6/2018,False,False,False,POINT (-73.9762246600197 40.775164077652)
95,40.774721,-73.976159,10A-AM-1006-04,10/6/2018,False,False,False,POINT (-73.9761592532482 40.7747213585387)
29,40.775390,-73.975698,10A-PM-1014-01,10/14/2018,False,True,False,POINT (-73.9756976076707 40.7753897331918)

# Cleaned Hectare Location Data (lat/lng, squirrel ID, date, hectare, hectare_squirrel_no)

In [8]:
squirrel_df_map_loc = squirrel_df_mod[['lat', 'lng', 'unique_squirrel_id', 'date', 'hectare', 'hectare_squirrel_no', 
                                       'lat_lng']]
squirrel_df_map_loc.head()

,lat,lng,unique_squirrel_id,date,hectare,hectare_squirrel_no,lat_lng
1650,40.775018,-73.976249,10A-AM-1006-01,10/6/2018,10A,1,POINT (-73.9762494239719 40.7750175306716)
1204,40.775113,-73.976297,10A-AM-1006-02,10/6/2018,10A,2,POINT (-73.9762965341309 40.775112516678)
252,40.775164,-73.976225,10A-AM-1006-03,10/6/2018,10A,3,POINT (-73.9762246600197 40.775164077652)
95,40.774721,-73.976159,10A-AM-1006-04,10/6/2018,10A,4,POINT (-73.9761592532482 40.7747213585387)
29,40.775390,-73.975698,10A-PM-1014-01,10/14/2018,10A,1,POINT (-73.9756976076707 40.7753897331918)

# Export to SQL database

In [9]:
engine = create_engine(f'postgresql://postgres:postgres@localhost:5432/squirrel_census')
conn = engine.connect()

In [10]:
squirrel_df_mod.to_sql('squirrel_mod', con=engine, index=False, if_exists='replace')

In [11]:
squirrel_df_loc.to_sql('squirrel_loc', con=engine, index=False, if_exists='replace')

In [12]:
squirrel_df_interact.to_sql('squirrel_interact', con=engine, index=False, if_exists='replace')

In [13]:
squirrel_df_map_loc.to_sql('squirrel_map_loc', con=engine, index=False, if_exists='replace')